.noBorder__control {
  border: none !important;
  background: none;
  box-shadow: none !important;
  font-size: 0.875rem; /* 调整字体大小 */
  color: #333; /* 调整文字颜色 */
  padding: 0; /* 移除内边距 */
  min-width: auto; /* 移除最小宽度 */
  display: inline-flex; /* 使其与图标齐平 */
  align-items: center; /* 垂直居中 */
  width: 150px; /* 确保宽度合适 */
}

.noBorder__indicator-separator {
  display: none;
}

.noBorder__dropdown-indicator {
  padding: 0;
}

.noBorder__menu {
  border: 1px solid #ccc;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.noBorder__option {
  padding: 8px 12px;
}

.noBorder__option--is-selected {
  background-color: #f0f0f0;
}

.noBorder__option--is-focused {
  background-color: #e0e0e0;
}


.btn-clicked {
  transform: scale(0.98);
  background-color: #3b82ff; /* Adjust to your preferred color */
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.dateSelector {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dateInputWrapper {
  display: flex;
  flex-direction: column;
}

.dateInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 150px;
}

.label {
  font-size: 0.875rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.searchFormContainer {
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  width: 1220px;
  margin: 20px 0;
  z-index: 10;
  position: relative;
}

.searchFormInner {
  display: flex;
  align-items: center;
}

.noBorder {
  display: flex;
  align-items: center;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexItem {
  flex: 1 1 auto; /* 允许项目根据容器大小自动调整 */
  min-width: 150px; /* 确保最小宽度 */
  margin: 0 10px; /* 适当的边距 */
}
